<div class="left-panel">
	<span class="glyphicon glyphicon-globe"></span>
</div>
<!-- "MAGAZZINO":"2102GE",
"ID_MAG_SIRTI":"2102",
"SEDE":"GENOVA",
"INDIRIZZO":"VIA SARDORELLA 45G ROSSO",
"COMUNE":"GENOVA",
"PROVINCIA":"GE",
"LATITUDINE":"44.4056499",
"LONGITUDINE":"8.9462560",
"PROPRIETA":"SIRTI",
"MAGAZZINO_SIRTI_CORRISPONDENTE":"2102",
"DISTANZA_MAG_SIRTI_CORR_METRI":"0",
"CAP":"16121",
"TIPO_LOCAZIONE":"G1",
"REGIONE":"LIGURIA",
"PRESIDIATO":"SI" -->
<div class="right-panel">
	<span ng-bind-html="$highlight($getDisplayText())"></span>
	<span ng-bind-html="$highlight(data.INDIRIZZO)">{{data.INDIRIZZO}}</span>
	<span ng-bind-html="$highlight(data.COMUNE)"> {{data.CAP}} - {{data.COMUNE}} ({{data.PROVINCIA}})</span>
	<span ng-bind-html="$highlight(data.REGIONE)"> <translate>Region</translate>: {{data.REGIONE}} <translate>Location type</translate>: {{data.TIPO_LOCAZIONE}} </span>
	<span ng-bind-html="$highlight(data.PROPRIETA)"></span>
</div>
