<a tabindex="-1">
	<div class="row autosuggestItem">
		<div class="col-sm-1 autosuggestItemIcon"><span class="glyphicon glyphicon-dashboard"></span></div>
		<div class="col-sm-11">
			<div class="row autosuggestItemRow">
				<div class="col-sm-4"><span class="autosuggestItemLabel" translate>Project</span><span class="autosuggestItemValue" ng-bind-html="match.model.PROGETTO   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-4"><span class="autosuggestItemLabel" translate>Subproject</span><span class="autosuggestItemValue" ng-bind-html="match.model.SOTTOPROGETTO   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-4"><span class="autosuggestItemLabel" translate>Final customer</span><span class="autosuggestItemValue" ng-bind-html="match.model.CLIENTE_FINALE   | uibTypeaheadHighlight:query"></span></div>
			</div>
			<div class="row autosuggestItemRow">
				<div class="col-sm-4"><span class="autosuggestItemLabel" translate>Property</span><span class="autosuggestItemValue" ng-bind-html="match.model.PROPRIETA      | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-4"><span class="autosuggestItemLabel" translate>Catalog Type</span><span class="autosuggestItemValue" ng-bind-html="match.model.TIPO_CATALOGO      | uibTypeaheadHighlight:query"></span></div>
			</div>
		</div>
	</div>
</a>
