<footer class="main-footer" style="width: 100%; padding:5px;">
	<div class="pull-right hidden-xs">
		<b>Version</b> <span app-version></span>
	</div>
	<strong>Copyright &copy; 2018-2019 <a href="http://www.sirti.it">Sirti S.p.A.</a></strong> All rights reserved.
</footer>