
<div id="myTable" class="box-body table-responsive" auto-resize-h
	auto-resize-h-event="windowResizeListener::resize"
	auto-resize-h-delta="290">
	<div class="fixed-header"><!-- ng-show="!mostraLoaderGrid" -->
		<table class="table table-bordered table-hover table-condensed table-scroll small">
			<thead>
				<!-- nomi delle colonne is-filterable-->
				<tr>
					<th resize conf-header="configGridUI" field="{{key}}" type="header" id="header" ng-if="configGridUI[key].visible" 
						ng-repeat="(key,value) in configGridUI" 
						class="{{configGridUI[key].color}}" nowrap  ng-style="value.icon && {'text-align': 'center'}">
						<span ng-if="key === 'FUNCTION'" ><i class="fa {{value.icon}}"></i></span>
						<span ng-if="key != 'FUNCTION'">
							<sirti-column-sort-and-filter
								ng-if="!configGridUI[key].enableFilter"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								>	
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && configGridUI[key].filtered && configGridUI[key].orderable"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-filterable
								is-sortable
								sort-direction="{{sortDirection[configGridUI[key].name]}}"
								sort-position="{{sortOrderMap[configGridUI[key].name]}}"
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && configGridUI[key].orderable && !configGridUI[key].filtered"
								ng-if="configGridUI[key].filtered"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-sortable
								sort-direction="{{sortDirection[configGridUI[key].name]}}"
								sort-position="{{sortOrderMap[configGridUI[key].name]}}"
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<sirti-column-sort-and-filter
								ng-if="configGridUI[key].enableFilter && !configGridUI[key].orderable && configGridUI[key].filtered"
								ng-if="configGridUI[key].filtered"
								field="{{configGridUI[key].name}}"
								caption="{{configGridUI[key].label}}"
								is-filterable
								filter-text="{{filterText[configGridUI[key].name]}}"
								filter-operator="{{filterOperator[configGridUI[key].name]}}"
								apply-callback="applyFilterAndSort"
								flag-disable="totalItems == 0"
								>
							</sirti-column-sort-and-filter>
							<i ng-if="value.icon" class="{{value.icon}}" tooltip-placement="bottom-left" uib-tooltip="{{value.iconTitle}}" style="font-size: 15px"></i>
						</span>
					</th>
				</tr>
				<!-- filtri colonna -->
				<tr>
					<th ng-show="configGridUI.FUNCTION.visible" style="text-align: center" nowrap>
						<input ng-show="configGridUI.FUNCTION.enableFilter" type="text" class="form-control input-sm editFilterGrid" placeholder="Cerca..." ng-model="search[configGridUI.FUNCTION.name]">
										
						
						<!-- gestione menu funzionale della grid -->
						<div class="dropdown" auto-close="outsideClick">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fa fa-table"></i>&nbsp;Tools
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="width: 250px !important;background: cornsilk">
								
								<!-- gestione del mostra nascondi colonne -->
								<li class="dropdown-submenu">
									<a class="test" tabindex="-1" href="javascript:void(0)"><i class="fa fa-columns"></i>&nbsp;Mostra/Nascondi Colonne</a>
									<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 250px !important;background: cornsilk"> 
										<li role="menuitem">
											<a href="javascript:void(0)">
												<button  type="button"
													class="btn btn-default btn-sm"
													ng-click="selectAllColonneGrid('TUTTI');"
													>Tutti
												</button>
												<button  type="button"
													class="btn btn-default btn-sm"
													ng-click="selectAllColonneGrid('RESET');"
													>Reset
												</button>
											</a>
											<div class="divider"></div>
										</li>	
										</li>
										<li  role="menuitem" ng-repeat="(key,value) in configGridUI" ng-if="value.enabled && key !== 'FUNCTION' ">
											<div ng-if="value.divider" class="divider"></div>
											<a href="javascript:void(0)" ng-click="value.visible = !value.visible">
												<span class="text-muted"><input type="checkbox" ng-model="value.visible" ng-click="value.visible = !value.visible"> {{value.label}} </span>
											</a>
										</li>
									</ul>
								</li> <!-- gestione del mostra nascondi colonne - fine -->
								
								<li class="divider"></li>
								
								<li>
									<a tabindex="-1" href="javascript:void(0)" ng-click="getGrid();">
										<i class="fa fa-refresh"></i>&nbsp;Ricarica
									</a>
								</li>
								<li class="divider"></li>
								<li>
									
									<a tabindex="-1" href="javascript:void(0)" ng-click="clearFiltersAndOrdering(item);">
										<i class="glyphicon glyphicon-erase"></i>&nbsp;Cancella Filtri e Ricarica
									</a>

								</li>
								

								<li class="divider" ng-if="totalItems > 0 && (labelUI != 'RICERCA DDT' && labelUI != 'GESTIONE GLS' && labelUI != 'CAMBIO UBICAZIONE')"></li>
								<li ng-if="totalItems > 0 && (labelUI != 'RICERCA DDT' && labelUI != 'GESTIONE GLS' && labelUI != 'CAMBIO UBICAZIONE')">
									
									<a tabindex="-1" href="javascript:void(0)" ng-click="exportToExcel();">
										<i class="fa fa-file-excel-o"></i>&nbsp;Esporta in Excel
									</a>

								</li>								

								<li class="divider" ng-if="labelUI == 'GESTIONE RICHIESTE'"></li>
								<li ng-if="labelUI == 'GESTIONE RICHIESTE'">
									
									<a tabindex="-1" href="javascript:void(0)" ng-click="openModalCreateNewRequestUI(null);">
										
										<i class="fa fa-plus"></i>&nbsp;Crea Nuova Richiesta
									</a>

								</li>								

							</ul>
						</div> <!-- gestione menu funzionale della grid - fine -->

						
					</th>
					<th resize conf-header="configGridUI" field="{{key}}" type="header" ng-repeat="(key,value) in configGridUI" ng-if="key !== 'FUNCTION' && options.searchSingleColumn" ng-show="configGridUI[key].visible">
						<input ng-show="configGridUI[key].enableFilter" type="text" class="form-control input-sm" placeholder="Cerca..." ng-model="options.global[key]">
					</th>
				</tr>
				
			</thead>
		</table> 
	</div> 
	<div><!-- ng-show="!mostraLoaderGrid" -->
		<div ng-show="mostraLoaderGrid" class="modal-footer">
			<div class="row">
				<div class="col-md-12 text-center"><img
					src="images/loader.gif" class="loaderTable-table"></div>
			</div>
		</div>
		<table  ng-show="!mostraLoaderGrid" class="table table-bordered table-hover table-condensed table-scroll">
			<tbody >
				<tr ng-repeat="item in filterData =
					(  data | filter: options.global || undefined 
					) | limitTo:itemsPerPage:itemsPerPage*(currentPage-1) as resultsFiltered" ng-class="{'danger':item.inSla4 || item.isOverDate || item.ESITO_CAMBIO_LOCAZIONE==='KO' , 'warning': item.ESITO_CAMBIO_LOCAZIONE==='IN_PROGRESS', 'success': item.ESITO_CAMBIO_LOCAZIONE==='OK' }">
					<td resize conf-header="configGridUI" field="{{key}}" type="body" ng-if="value.visible" 
						ng-repeat="(key , value) in configGridUI" class="small" nowrap>
						<div  ng-if="key ==='FUNCTION' && value.visible" class="btn-group-xs" ng-show="showFunction">
							<button ng-show="buttonFunctionGrid.info.visible" tooltip-append-to-body="true" uib-tooltip="{{buttonFunctionGrid.info.label}}" type="button" class="{{buttonFunctionGrid.conferma.classe}}" ng-class="coloreColUI" ><i class="{{buttonFunctionGrid.info.icon}}"></i></button>
							<button ng-show="buttonFunctionGrid.edita.visible && !item.hiddenButton"	tooltip-append-to-body="true" uib-tooltip="{{buttonFunctionGrid.edita.label}}" type="button" class="{{buttonFunctionGrid.conferma.classe}}" ng-class="coloreColUI"  ng-click="openModalUI(item);"><i class="{{buttonFunctionGrid.edita.icon}}"></i></button>
							<button ng-show="buttonFunctionGrid.vedi.visible && !item.hiddenViewActivity" tooltip-append-to-body="true" uib-tooltip="{{buttonFunctionGrid.vedi.label}}" ng-class="coloreColUI"  type="button" ng-disabled="mostraLoader" class="{{buttonFunctionGrid.vedi.classe}}" ng-click="viewActivity(item)"> <i class="{{buttonFunctionGrid.vedi.icon}}"></i></button>
							<button ng-show="buttonFunctionGrid.preview.visible  && !item.hiddenButton" tooltip-append-to-body="true" uib-tooltip="{{buttonFunctionGrid.preview.label}}" ng-class="coloreColUI"  type="button" ng-disabled="mostraLoader" class="{{buttonFunctionGrid.preview.classe}}" ng-click="apriFile(item,'inline')"> <i class="{{buttonFunctionGrid.preview.icon}}"></i></button>
							<button ng-show="buttonFunctionGrid.download.visible  && !item.hiddenButton" tooltip-append-to-body="true" uib-tooltip="{{buttonFunctionGrid.download.label}}" ng-class="coloreColUI"  type="button" ng-disabled="mostraLoader" class="{{buttonFunctionGrid.download.classe}}"  ng-click="apriFile(item,'download')"> <i class="{{buttonFunctionGrid.download.icon}}"></i></button>
							<button ng-show="buttonFunctionGrid.conferma.visible"	type="button" class="{{buttonFunctionGrid.conferma.classe}}" ng-class="coloreColUI"  title="{{buttonFunctionGrid.conferma.label}}"><i class="{{buttonFunctionGrid.conferma.icon}}"></i></button>
							<div style="margin-top: 2px;float:right;" title="{{item.DESC_ESITO_CAMBIO_LOCAZIONE}}" ng-if="item.ESITO_CAMBIO_LOCAZIONE==='IN_PROGRESS' || item.ESITO_CAMBIO_LOCAZIONE==='OK' || item.ESITO_CAMBIO_LOCAZIONE==='KO' "
									 class="round round-xs hollow"
									 ng-class="{'red': item.ESITO_CAMBIO_LOCAZIONE==='KO' , 'orange': item.ESITO_CAMBIO_LOCAZIONE==='IN_PROGRESS', 'green': item.ESITO_CAMBIO_LOCAZIONE==='OK' }"
									 >
								<span class="glyphicon"
											ng-class="{'glyphicon-remove': item.ESITO_CAMBIO_LOCAZIONE==='KO' , 'glyphicon-warning-sign': item.ESITO_CAMBIO_LOCAZIONE==='IN_PROGRESS', 'glyphicon-ok': item.ESITO_CAMBIO_LOCAZIONE==='OK' }"
								></span>
							</div>
							<!-- nuove funzionalita delal gestione richieste -->
							<!--
							<button ng-if="item.mostraButtonAzPrelevato" tooltip-placement="bottom-left" uib-tooltip="{{buttonFunctionAzioniCfg.azPrelevato.label}}" type="button" class="{{buttonFunctionAzioniCfg.azPrelevato.classe}}" ng-class="coloreColUI"  ng-click=""><i class="{{buttonFunctionAzioniCfg.azPrelevato.icon}}"></i>&nbsp;{{buttonFunctionAzioniCfg.azPrelevato.label}}</button>
							<button ng-if="item.mostraButtonAzMatRicevuto" tooltip-placement="bottom-left" uib-tooltip="{{buttonFunctionAzioniCfg.azMaterialeRicevuto.label}}" type="button" class="{{buttonFunctionAzioniCfg.azMaterialeRicevuto.classe}}" ng-class="coloreColUI"  ng-click=""><i class="{{buttonFunctionAzioniCfg.azMaterialeRicevuto.icon}}"></i>&nbsp;{{buttonFunctionAzioniCfg.azMaterialeRicevuto.label}}</button>
							<button ng-if="item.mostraButtonAzDicUsoMateriale" tooltip-placement="bottom-left" uib-tooltip="{{buttonFunctionAzioniCfg.azDichiarazioneUsoMateriale.label}}" type="button" class="{{buttonFunctionAzioniCfg.azDichiarazioneUsoMateriale.classe}}" ng-class="coloreColUI"  ng-click=""><i class="{{buttonFunctionAzioniCfg.azDichiarazioneUsoMateriale.icon}}"></i>&nbsp;{{buttonFunctionAzioniCfg.azDichiarazioneUsoMateriale.label}}</button>
							-->
							
							
							<!-- gestione delle azioni possibili - inizio -->
						
							<div ng-if="item.arrAzPossibili.length > 1" class="btn-group btn-group-xs">

								<button type="button"
												ng-disabled="mostraLoaderGrid"
												class="btn btn-linkedin dropdown-toggle"
												data-toggle="dropdown"

												aria-expanded="false">Seleziona Azione ({{item.arrAzPossibili.length}})<!--{{item.arrAzPossibili[0].label}}-->
									<span class="fa fa-caret-down"></span>
								</button>
								<ul class="dropdown-menu" style="background:cornsilk;width: auto;min-width: 300px;">
									
									<li ng-repeat="azioneAttivita in item.arrAzPossibili">
										<div ng-if="item.arrAzPossibili[0].value != azioneAttivita.value" class="divider"></div>
										<a href="javascript:void(0)" ng-click="">{{azioneAttivita.context}} - {{azioneAttivita.label}}</a>
										
										
									</li>
									<!--<li class="divider"></li>-->
		

								</ul>

              </div>
						
							<button ng-if="item.arrAzPossibili.length == 1"
											type="button"
											ng-class="coloreColUI" 
											class="btn btn-primary btn-sm"
											ng-class="coloreColUI"  ng-click="">{{item.arrAzPossibili[0].context}} - {{item.arrAzPossibili[0].label}}
							</button>
						

								<!-- gestione delle azioni possibili - fine -->
								
								
								</div>
		
								<div ng-if="key !=='FUNCTION'"
										 ng-style="value.icon && item[key] > 0 && {'text-align':'center','color': '#64ABD4','font-weight':'bold'} ||
															 !value.icon && value.type === 'icon' && item[key] > 0 && {'text-align':'center','color': '{{coloreUI}}','font-weight':'bold'} ||
															 value.icon && item[key] == 0 && {'text-align':'center'}"
										 ng-class="{'text-center-table text-left': value.type === 'string' , 'text-center-table text-right' : value.type === 'number' || value.type === 'date'}">
									<span ng-if="value.type === 'number'">{{item[key]}}
										<button ng-if="key === 'ID_ATTIVITA'"
														tooltip-append-to-body="true"
														tooltip-placement="bottom-left"
														style="float: left;"
														uib-tooltip="{{buttonFunctionGrid.checkAction.label}}"
														ng-class="{	
																			'btn btn-primary btn-xs':(!item.mostraLoaderCheck && (itemGlobalSelected.ID_ATTIVITA != item.ID_ATTIVITA)) || item.mostraLoaderCheck,
																			'btn btn-success btn-xs':  (itemGlobalSelected.ID_ATTIVITA == item.ID_ATTIVITA) && !item.erroreCheckActionIdPolarys && !item.mostraLoaderCheck ,
																			'btn btn-danger btn-xs':  (itemGlobalSelected.ID_ATTIVITA == item.ID_ATTIVITA) && item.erroreCheckActionIdPolarys && !item.mostraLoaderCheck 
																		}"
														ng-class="coloreColUI" type="button"
														ng-disabled="item.mostraLoaderCheck || mostraLoaderGrid"
														class="{{buttonFunctionGrid.checkAction.classe}}"
														ng-click="checkActionIdPolarys(item)">
											<i class="{{buttonFunctionGrid.checkAction.icon}}"
												 ng-class="{	'glyphicon glyphicon-refresh glyphicon-refresh-animate': item.mostraLoaderCheck,
																			'{{buttonFunctionGrid.checkAction.icon}}':!item.mostraLoaderCheck && (itemGlobalSelected.ID_ATTIVITA != item.ID_ATTIVITA),
																			'fa fa-check':  (itemGlobalSelected.ID_ATTIVITA == item.ID_ATTIVITA) && !item.erroreCheckActionIdPolarys && !item.mostraLoaderCheck ,
																			'fa fa-ban':  (itemGlobalSelected.ID_ATTIVITA == item.ID_ATTIVITA) && item.erroreCheckActionIdPolarys && !item.mostraLoaderCheck 
																		}"
											></i>

										</button>
									</span>
									<span ng-if="value.type === 'date'">{{item[key] | artDateToStrDateTimeShort}}</span>
									<span ng-if="value.type === 'icon' && item[key] > 0" class="label bg-green">{{item[key]}}</span>
									<span ng-if="value.type === 'action' && item[key] > 0" >
										
									
		
									<!-- gestione delle azioni possibili - inizio -->
									<div ng-if="item.arrAzPossibili.length > 0" class="btn-group btn-group-xs" style="float: right;">
										<button 
														type="button"
														tooltip-placement="top-left"
														uib-tooltip="Visualizza il dettaglio dei Materiali"
														tooltip-append-to-body="true"
														class="btn btn-linkedin btn-xs"
														ng-click="apriModaleInfo(item,item.objInfoButtonModal[key],key)">{{item[key]}} <span ng-if="item.objInfoButtonModal[key].minus > 0">({{item.objInfoButtonModal[key].minus}})</span>&nbsp;<i class="fa fa-archive"></i>
										</button>
									</div>	
									<div ng-if="item.arrAzPossibili.length > 0" class="btn-group btn-group-xs" style="float: left;" uib-dropdown dropdown-append-to-body>
		
										<button type="button"
														ng-disabled="mostraLoaderGrid"
														class="btn btn-dropbox"
														tooltip-placement="top-left"
														uib-tooltip="Seleziona L'Azione da Eseguire"
														tooltip-append-to-body="true"
														uib-dropdown-toggle><i class="glyphicon glyphicon-list"></i>&nbsp;<!--Seleziona  --><!--{{item.arrAzPossibili[0].label}}-->
											<span class="fa fa-caret-down"></span>
										</button>
										<ul class="dropdown-menu" uib-dropdown-menu style="background:cornsilk;width: auto;min-width: 300px;">
											
											<li ng-repeat="azioneAttivita in arrAzPossibiliFiltered = (item.arrAzPossibili | filter: key) ">
												<div ng-if="arrAzPossibiliFiltered[0].value != azioneAttivita.value" class="divider"></div>
												<a href="javascript:void(0)" ng-click="apriModaleAzione(item,azioneAttivita,key)">{{azioneAttivita.label}}&nbsp;({{azioneAttivita.nMat}})</a>
												
												
											</li>
											<!--<li class="divider"></li>-->
				
		
										</ul>
		
									</div>
									

								
									<button ng-if="item.arrAzPossibili.length == -1"
													type="button"
													ng-class="coloreColUI" 
													class="btn btn-primary btn-xs"
													ng-class="coloreColUI"  ng-click="">{{item.arrAzPossibili[0].label}}
									</button>
								
		
									<!-- gestione delle azioni possibili - fine -->

								</span>
							<span ng-if="value.type === 'action' && item.arrAzPossibili.length == 0 && item.mostraLoaderCheck">
								<div style="text-align: center;font-size: 14px">	
									<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
								</div>
							</span>
							<span ng-if="value.type === 'action' && item.arrAzPossibili.length == 0 && item.erroreCheckActionIdPolarys && !item.mostraLoaderCheck">
								<div style="text-align: center;color: red;font-size: 14px">	
										<i class="fa fa-exclamation-circle" ng-if="key != 'DIC_USO_MAT_FULL'"tooltip-placement="bottom-left" uib-tooltip="Completare l'attivit&agrave; a Magazzino"></i>
										<i class="fa fa-exclamation-circle" ng-if="key == 'DIC_USO_MAT_FULL'"tooltip-placement="bottom-left" uib-tooltip="Portare la pratica CS01 nello stato 'IL'"></i>
								</div>								
							</span>
							<span ng-if="value.type !== 'number' && value.type !== 'date' && value.type !== 'icon' && value.type !== 'action'">{{item[key]}}
							</span> 
						</div>
					</td>
				</tr>
				<div ng-if="resultsFiltered == 0 && !mostraLoaderGrid" class="alert" ng-class="coloreColUI">
					<button type="button" class="close" ng-click="clearFiltersAndOrdering()" aria-hidden="true">
						<i ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': mostraLoaderLWZ, 'glyphicon glyphicon-refresh':!mostraLoaderLWZ}"></i>
					</button>
					<h4>
						<i class="icon fa fa-info"></i>
						<translate>Alert</translate>
					</h4>
					<translate>Activities not found</translate>
				</div>
			</tbody>
		</table>
	</div>
</div>
<div class="box-footer" ng-show="(totalItems >  0) && !options.hiddenPagination">
	<div class="row">
		<div class="col-md-4 col-xs-4 col-lg-4" style="padding-top: 7px;">
			<span class="text-muted">Visualizzati
				{{((currentPage*itemsPerPage)-itemsPerPage)+1}}
				-
				{{((currentPage*itemsPerPage)-itemsPerPage)+resultsFiltered.length}}
				di
				{{filterData.length}}
				record
			</span>
		</div>
		<div class="col-md-3 col-xs-3 col-lg-3">
				<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
					<span class="text-muted" translate>Mostra: </span>
				</div>
				<div class="col-md-6 col-xs-6 col-lg-6">
					<select ng-model="itemsPerPage" class="form-control input-sm" ng-options="values for values in pager">
						<option>itemsPerPage</option>
					</select>
				</div>
				<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
					<span class="text-muted"  translate>record</span>
				</div>
		</div>
		<div class="col-md-5 col-xs-5 col-lg-5">
			<uib-pagination class="pull-right pagination-sm no-margin"
				total-items="filterData.length"
				rotate = "true"
				max-size ="maxSizePager"
				boundary-links = "true"
				first-text = "Prima"
				last-text  = "Ultima"
				force-ellipses = "true"
				next-text = ">"
				previous-text = "<"
				boundary-link-numbers = "false"
				ng-model="currentPage"
				ng-change="pageChanged()"
				items-per-page="itemsPerPage">
			</uib-pagination>
		</div>
	</div>
</div>