<div class="container-fluid" ng-controller="ActivityDettaglioHistoryCtrl">

	<h4>
		<translate>Activity history</translate>
		<button	ng-click="toggleReverseOrder = !toggleReverseOrder"
				ng-disabled="refreshing"
				type="button"
				class="btn btn-xs btn-default">
			<span class="fa" ng-class="{ 'fa-sort-amount-asc': toggleReverseOrder, 'fa-sort-amount-desc': !toggleReverseOrder }"></span>
		</button>
		<button	ng-click="refresh(permessoLavori)"
			ng-disabled="refreshing"
			type="button"
			uib-tooltip="{{'Refresh Activity' | translate}}"
			tooltip-append-to-body="true"
			class="btn btn-xs btn-default"><!--  ng-class="{ 'btn-default': !refreshing, 'btn-warning': refreshing }"> -->
			<span class="glyphicon glyphicon-refresh" ng-class="{ 'glyphicon-refresh-animate': refreshing }"></span>
		</button>
	</h4>

	<div class="row">
		<div class="col-sm-12">
			<timeline>
				<timeline-event ng-repeat="event in history | reverse:toggleReverseOrder">
					<!-- Tipologia icona sulla timeline -->
					<timeline-badge ng-class="{ 'default': event.usernameObj.serviceUser, 'info': !event.usernameObj.serviceUser }">
						<i class="glyphicon" ng-class="{ 'glyphicon-cog': event.usernameObj.serviceUser, 'glyphicon-edit': !event.usernameObj.serviceUser }"></i>
					</timeline-badge>
					<timeline-panel>
						<!-- Data/ora - azione - utente -->					
						<timeline-heading>
							<div class="container-fluid">
								<div class="row  text-muted">
									<div class="col-xs-6 text-left small">
										<span class="fa fa-calendar pull-left"></span>
										<span class="small">{{ event.transitionDate | artDateToStrDateTime }}</span>
									</div>
									<div class="col-xs-6 text-right small">
										<span ng-if="!event.usernameObj.serviceUser" class="fa fa-user pull-right"></span>
										<span ng-if="!event.usernameObj.serviceUser" class="small">{{ event.usernameObj.lastName}} {{event.usernameObj.firstName }}</span>
									</div>
								</div>
							</div>
						</timeline-heading>
			
						<!-- Stato risultante e descrizione attività (se prevista) -->
						<div class="container-fluid">
						
							<div ng-if="!toggleReverseOrder">
								<div class="row">
									<div class="col-sm-12 text-center">
										<span	class="label label-default cursor-help" 
												uib-tooltip="{{'Executed action' | translate}}"
												tooltip-placement="right"
										>{{ event.action | removeUnderscores }}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-center">
										<i class="fa fa-arrow-down fa-2x text-muted"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-center">
										<big><span	class="label label-info cursor-help" 
													uib-tooltip="{{'Destination status' | translate}}"
													tooltip-placement="right"
										>{{ event.toStatus | removeUnderscores }}</span></big>
									</div>
								</div>
							</div>
							<div ng-if="toggleReverseOrder">
								<div class="row">
									<div class="col-sm-12 text-center">
										<big><span	class="label label-info cursor-help"
													uib-tooltip="{{'Destination status' | translate}}"
													tooltip-placement="right"
										>{{ event.toStatus | removeUnderscores }}</span></big>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-center">
										<i class="fa fa-arrow-up fa-2x text-muted"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-center">
										<span	class="label label-default cursor-help" 
												uib-tooltip="{{'Executed action' | translate}}"
												tooltip-placement="right"
										>{{ event.action | removeUnderscores }}</span>
									</div>
								</div>
							</div>
							
							<div class="row" style="margin-top: 10px">
								<div class="col-xs-12 col-sm-10 col-sm-offset-1" ng-if="
										event.description && 
										event.description.trim() != '' && 
										event.description.trim() != '-' && 
										event.description.trim().toLowerCase() != 'apertura attivita' && 
										event.description.trim().toLowerCase() != 'automatic transition'
										">
									<pre>{{event.description}}</pre>
								</div>
							</div>
						</div>
						
						<!-- Elenco transition property -->
						<table class="table table-condensed table-bordered small small">
							<tr ng-if="event.properties.length > 0"  ng-repeat="property in event.properties">
								<th class="col-sm-5 text-muted text-right">{{property.name|CustTranslate}}</th>
								<td class="col-sm-7"><activity-property type="{{activityTypeProperties[property.name].type}}" value="property.value"></activity-property></td>
							</tr>
							<tr ng-if="event.attachments.length > 0">
								<th class="col-sm-5 text-muted text-right" translate>Attachments</th>
								<td class="col-sm-7"><li ng-repeat="attach in event.attachments"><a href="javascript:void(0)" ng-click="downloadFile(attach)"><i ng-class="{'fa fa-paperclip': !attach.ongoing, 'glyphicon glyphicon-refresh glyphicon-refresh-animate':attach.ongoing}" aria-hidden="true"></i> {{attach.fileName}} ({{attach.size}} kB)</a></li></td>
							</tr>
						</table>
					</timeline-panel>
				</timeline-event>
			</timeline>

		</div>
	</div>
</div>

<!--
<style>
timeline.single-column-left > .timeline:before {
	left: 0;
}

timeline.single-column-left timeline-badge {
	left: 0;
}

@media only screen and (min-width: 768px) {
	timeline.single-column-left timeline-panel {
		width: calc(100% - 45px);
		width: -moz-calc(100% - 45px);
		width: -webkit-calc(100% - 45px);
	}
}
</style>
-->
