<!--
<%
my $art_r = $Session->{art_ref};
if (!defined $art_r->{id_operatore}) {
	$Response->Redirect($ENV{ADVLOG_BASE_URI});
}
%>
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Polarys 2.0</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="bower_components/angular-awesome-slider/dist/css/angular-awesome-slider.min.css" />
		<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
		<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css" />
		<link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
		<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
		<link rel="stylesheet" href="bower_components/bootstrap-fileinput/css/fileinput.min.css" />
		<link rel="stylesheet" href="bower_components/select2/select2.css" />
		<link rel="stylesheet" href="bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.css" />
		<link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css" />
		<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
		<link rel="stylesheet" href="bower_components/sirti-file-upload/dist/sirti-file-upload.css" />
		<link rel="stylesheet" href="bower_components/sirti-column-sort-and-filter/dist/sirti-column-sort-and-filter.css" />
		<!-- endbower -->
		
		<!-- endbuild -->
		
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/AdminLTE.css">
		<link rel="stylesheet" href="styles/_all-skins.min.css">
		<link rel="stylesheet" href="styles/AdminLTEcustom.css">
		<link rel="stylesheet" href="styles/gui_css.css">
		<link rel="stylesheet" href="styles/etichetta-materiale.css">
		<link rel="stylesheet" href="styles/style-printer.css">
		<link rel="stylesheet" href="styles/vertical-tabs.css">
		<link rel="stylesheet" href="styles/autocomplete.css">
		<link rel="stylesheet" href="styles/ccs-ricerca.css">
		<link rel="stylesheet" href="styles/breadcrumb-and-multistep-indicator.css">
		<link rel="stylesheet" href="styles/scroll-body-table.css">
		<link rel="stylesheet" href="styles/table-xy-scroll.css">
		
		
		<!-- endbuild id="class_sfondo_gui"-->
	</head>
	<body ng-app="guiMtzNocMasterV2" class="skin-blue layout-top-nav fixed">
		
		<div class="wrapper" ng-if="canGoOn" ng-controller="guiMtzNocMasterV2Ctrl" id="class_sfondo_gui">
			<!--[if lte IE 8]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

			<!-- Navigation -->
			<!--<div ng-include="'views/common/navigation.html'"></div>-->
			
			<!-- Top Navbar -->
			<div id="divNavBar" ng-include="'views/common/topnavbar.html'" class="non-printable"></div>
			
			<!-- breadcrumb -->
			<div class="row fixed-search non-printable">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<div ng-if="showBreadcrumb" ncy-breadcrumb></div>
				</div>
			</div>

			<!-- Content Wrapper. Contains page content class="content-wrapper"-->
			<div ui-view class="row non-printable"></div>
			<!-- /.content-wrapper -->
			<!-- Footer -->

			<etichetta-materiale
					class="etichetteListPrint"
					ng-repeat="item in etichette"
					tipo-etichetta="{{item.tipo_etichetta || 'NORMALE'}}"
					id-sirti="{{item.id_sirti}}"
					codice-sirti="{{item.codice_sirti}}"
					part-number="{{item.pn}}"
					serial-number="{{item.sn}}"
					error-title="Error"
					error-message="error"
					popover="undefined"
				>
			</etichetta-materiale>
			<div ng-include="'views/common/footer.html'" class="non-printable"></div>
		</div>
		<div ng-if="!canGoOn && !isAppKO" class="col-sm-12 text-center" style="margin-top: 100px">
			<h4 class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				<translate>Loading...</translate>
			</h4>
		</div>
		<!-- ./wrapper -->
		
		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/jquery-ui/jquery-ui.js"></script>
		<script src="bower_components/angular-ui-sortable/sortable.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/angular-awesome-slider/dist/angular-awesome-slider.js"></script>
		<script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
		<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
		<script src="bower_components/angular-bootstrap-contextmenu/contextMenu.js"></script>
		<script src="bower_components/satellizer/satellizer.js"></script>
		<script src="bower_components/angular-audio/app/angular.audio.js"></script>
		<script src="bower_components/angular-io-barcode/build/angular-io-barcode.js"></script>
		<script src="bower_components/qrcode-generator/js/qrcode.js"></script>
		<script src="bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
		<script src="bower_components/angular-qrcode/angular-qrcode.js"></script>
		<script src="bower_components/sprintf/src/sprintf.js"></script>
		<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
		<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
		<script src="bower_components/enquire/dist/enquire.js"></script>
		<script src="bower_components/angular-ui-select/dist/select.js"></script>
		<script src="bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
		<script src="bower_components/select2/select2.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/moment/min/locales.js"></script>
		<script src="bower_components/moment/min/moment-with-locales.js"></script>
		<script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
		<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
		<script src="bower_components/angular-mocks/angular-mocks.js"></script>
		<script src="bower_components/ng-filters/dist/ng-filters.js"></script>
		<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
		<script src="bower_components/sirti-file-upload/dist/sirti-file-upload.js"></script>
		<script src="bower_components/sirti-column-sort-and-filter/dist/sirti-column-sort-and-filter.js"></script>
		<script src="bower_components/js-xlsx/dist/xlsx.full.min.js"></script>
		<!-- endbower -->
		
		<!-- endbuild -->
		
		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		
		<!-- controller principale -->
		<script src="scripts/controllers.js"></script>
		
		
    <!-- Google Maps JavaScript API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&client=gme-sirtispa&channel=guiPolarysNew&signature=5O8ypjMBVY5U_dtcwrhtwV243NY="></script>
   
    <!-- vsGoogleAutocomplete -->
    <script src="scripts/vs-google-autocomplete.js"></script>
		
		<!-- controller singole sezioni -->
		
		<script src="scripts/controllers/uiNoc/gsUiNocCtrl.js"></script>
		<script src="scripts/controllers/uiPmAndAssTecnici/gsUiPmAndAssTecniciCtrl.js"></script>
		<script src="scripts/controllers/uiPmAndAssTecnici/modalAzioneCtrl.js"></script>
		<script src="scripts/controllers/uiPmAndAssTecnici/modalInfoCtrl.js"></script>
		
		<script src="scripts/directives/auto-resize-h.js"></script>
		<script src="scripts/directives/table-xy-scroll.js"></script>
		<script src="scripts/directives/xy-scroll-table.js"></script>

		<!-- import file excel -->
		<script src="scripts/directives/importExcelDirective.js"></script>
		

		
		
		<script src="scripts/utils.js"></script>
		<script src="scripts/l10n.js"></script>
		<script src="scripts/directives/version/version.js"></script>
		<script src="scripts/directives/version/version-directive.js"></script>
		<script src="scripts/directives/version/interpolate-filter.js"></script>
		<script src="scripts/directives/art/activityDetailsDirective.js"></script>


		<script src="scripts/services/gsUiPmAndAssTecniciServices.js"></script>
		<script src="scripts/services/gsUiNocServices.js"></script>
		<script src="scripts/services/gsCommonServices.js"></script>

		

		
		<script src="scripts/services/uiServices.js"></script>
		<script src="scripts/alerts.js"></script>
		<script src="scripts/services/advlogProfileServices.js"></script>
		<script src="scripts/services/advlogws-services.js"></script>
		<script src="scripts/services/art/api/services.js"></script>		
		<!--<script src="scripts/services/adcServices.js"></script>-->

		
		<!-- endbuild -->
		<script src="i18n/angular-locale.js"></script>
		<script src="i18n/art-locale.js"></script>
	</body>
</html>

<style>


</style>