#TableCollaudiSearch > thead > tr > th:hover {
	cursor: pointer;
	cursor: hand;
	background-color: #f5f5f5;
}

#TableCollaudiPagination {
	margin-top: 0px !important;
}

#TableCollaudiSearch > thead > tr > th > span.pull-right {
    margin-top: 3px;
		float: right!important;
}

#TableCollaudiSearch > thead > tr > th > input.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}