
table.table-scroll {
     width: 100%;  /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 0px solid black;
}

table.table-scroll tbody,
table.table-scroll thead { display: block; background-color: #fff;}

thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.table-scroll tbody {
    height: calc(100% - 0px);
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

tbody { border-top: 0px solid black; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

.table-responsive::-webkit-scrollbar {
   width: 12px;
}

.table-responsive::-webkit-scrollbar-button {
    background: #fff;
    background-repeat: no-repeat;
    cursor: pointer;
}

.table-responsive::-webkit-scrollbar-corner {
    background-color: #fff;
}

.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 9px;
    border: solid 3px #fff;
    background-color: #c8c8c8;
    box-shadow: -3px -3px 6px rgba(179, 180, 180, 0.78) inset,3px 3px 3px #eaecec inset;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #fff;
}

.table-responsive>.fixed-column {
	position: absolute;
	display: inline-block;
	width: auto;
	border-right: 1px solid #ddd;
}

.scrollable-menu {
	left:0px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    overflow-x: hidden;
	width: 250px;
	font-size: 11px;
}
.scrollable-menu a{
	margin-left:-12px
}

.scrollable-menu .divider{
	margin: 0px 0;
}

@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}

.box-body > .table {
    margin-bottom: 0;
    height: 100%;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top:5px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.fixed-header{
    top: 0px;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: -21px
}

/*SPIN ELIMINATO DA INPUT TEXT*/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.warning-strike{
	text-decoration: line-through;
}	
.no-warning-strike{
	text-decoration: none;
}