<!-- style -->
<style>
    #divSezioneFiltri a.listino-dettaglio-block {
        white-space: normal;
        cursor: pointer;
        padding: 5px;
    }
    #divSezioneFiltri .listino-dettaglio-block {
        padding-top: 5px;
        padding-left: 0;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    #divSezioneFiltri .listino-dettaglio-block-codsito {
        /* float: left; */
        font-style: italic;
    }
    #divSezioneFiltri .listino-dettaglio-block-nomesito {
        /* float: left; */
        font-style: normal;
    }
    #divSezioneFiltri .listino-dettaglio-block-indirizzofull {
        /* float: right; */
        font-style: italic;
    }
    #divSezioneFiltri .errorMsgAutocomplete
    {
        color:red;
        font-size:12px;
        padding-top:2px;
    }
    #divSezioneFiltri .warningMsg
    {
        font-size:12px;
    }

</style>

<script type="text/ng-template" id="serialNumberTemplate.html">
    <a class="listino-dettaglio-block">
        
        <span class="listino-dettaglio-block listino-dettaglio-block-codsito" ng-bind-html="match.model.SERIAL_NUMBER"></span>
        <!--</br>
        <strong>Part Number:</strong>  <span class="listino-dettaglio-block listino-dettaglio-block-nomesito" ng-bind-html="match.model.PART_NUMBER"></span>

        </br>
        <strong>Descrizione: <span class="listino-dettaglio-block listino-dettaglio-block-indirizzofull" ng-bind-html="match.model.NOME_PART_NUMBER"></span>
        -->
    </a>    
</script>

<section id="SectionMain" class="content non-printable tail" ng-controller="gsUiPmAndAssTecniciCtrl">
	
	<div class="row" auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="100">
		<div class="col-lg-12 col-md-12 col-xs-12">

			<div class="box" style="border-top-color: {{coloreUI}} !important;">
				<div class="box-header with-border">
					<div class="info-box {{coloreColUI}}" style="min-height: 50px;margin-bottom: 0px;">
						
						<span ng-if="true" class="info-box-icon" style="height: 50px !important;width: 50px !important;line-height: 0px !important;padding-top: 10px;">
							<div>
								<span class="badge badgeCustom" style="color: {{coloreUI}}">
									<i class="fa {{icon2UI}} dimIcona2"></i>
								</span>
								<i class="fa {{iconUI}} dimIcona1"></i>
							</div>
						</span>
					
						<div ng-if="true" class="info-box-content" style="margin-left: 50px;">
							
			
								<!-- gestione menu funzionale della grid -->
								<div class="dropdown" auto-close="outsideClick" style="float: left;padding-right: 10px;padding-top: 3px;">
									<button class="btn btn-dropbox dropdown-toggle" type="button" data-toggle="dropdown">
										<i class="fa fa-table"></i><!--&nbsp;Tools-->
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" style="width: 250px !important;background: cornsilk">
										
										<!-- gestione del mostra nascondi colonne -->
										<li class="dropdown-submenu">
											<a class="test" tabindex="-1" href="javascript:void(0)"><i class="fa fa-columns"></i>&nbsp;Mostra/Nascondi Colonne</a>
											<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 250px !important;background: cornsilk"> 
												<li role="menuitem">
													<a href="javascript:void(0)">
														<button  type="button"
															class="btn btn-default btn-sm"
															ng-click="selectAllColonneGrid('TUTTI');"
															>Tutti
														</button>
														<button  type="button"
															class="btn btn-default btn-sm"
															ng-click="selectAllColonneGrid('RESET');"
															>Reset
														</button>
													</a>
													<div class="divider"></div>
												</li>	
												</li>
												<li  role="menuitem" ng-repeat="(key,value) in configGridUI" ng-if="value.enabled && key !== 'FUNCTION' ">
													<div ng-if="value.divider" class="divider"></div>
													<a href="javascript:void(0)" ng-click="value.visible = !value.visible">
														<span class="text-muted"><input type="checkbox" ng-model="value.visible" ng-click="value.visible = !value.visible"> {{value.label}} </span>
													</a>
												</li>
											</ul>
										</li> <!-- gestione del mostra nascondi colonne - fine -->
										
										<li class="divider"></li>
										
										<li>
											<a tabindex="-1" href="javascript:void(0)" ng-click="getGrid();">
												<i class="fa fa-refresh"></i>&nbsp;Ricarica
											</a>
										</li>
										<li class="divider"></li>
										<li>
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="clearFiltersAndOrdering(item);">
												<i class="glyphicon glyphicon-erase"></i>&nbsp;Cancella Filtri e Ricarica
											</a>
		
										</li>
										
		
										<li class="divider" ng-if="totalItems > 0 && (labelUI != 'RICERCA DDT' && labelUI != 'GESTIONE GLS' && labelUI != 'CAMBIO UBICAZIONE')"></li>
										<li ng-if="totalItems > 0 && (labelUI != 'RICERCA DDT' && labelUI != 'GESTIONE GLS' && labelUI != 'CAMBIO UBICAZIONE')">
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="exportToExcel();">
												<i class="fa fa-file-excel-o"></i>&nbsp;Esporta in Excel
											</a>
		
										</li>								
		
										<li class="divider" ng-if="labelUI == 'GESTIONE RICHIESTE'"></li>
										<li ng-if="labelUI == 'GESTIONE RICHIESTE'">
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="openModalCreateNewRequestUI(null);">
												
												<i class="fa fa-plus"></i>&nbsp;Crea Nuova Richiesta
											</a>
		
										</li>								
		
									</ul>
								</div> <!-- gestione menu funzionale della grid - fine -->

							
							<span class="info-box-text" style="float: left;">
								<h4 style="font-weight:bold;margin-top: 0px;margin-bottom: 0px;">{{labelUI}}</h4>
								<h6 ng-if="subLabelUI" style="margin-top: 5px;margin-bottom: 0px;"><strong>{{subLabelUI}}</strong></h6>
							</span>
							
							<span class="info-box-text" style="float: right;text-transform: capitalize;">
								<div style="float: left;padding-right: 10px;">Legenda:</div>
								<div style="float: right">
									<div>
										<span><i class="fa fa-archive" style="color: white;font-size: larger"></i>&nbsp;&nbsp;Dettaglio Materiali</span>
									</div>
									<div>
										<span><i class="glyphicon glyphicon-list" style="color: white;font-size: 16px"></i>&nbsp;&nbsp;Azioni Da Eseguire</span>
									</div>
								</div>
								
							</span>



							<span class="info-box-text" ng-if="false">
								<i class="fa fa-bar-chart" style="float: left;padding-right: 10px"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.PERC}} %</span></i>
								<i class="fa fa-archive" style="float: left"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.TOT}}</span></i>
							
							</span>
						</div><!-- /.info-box-content -->
						
					</div><!-- /.info-box -->
				</div>
				<div class="box-body">
					
					<!-- Sezione dei Filtri -->
					<div id="divSezioneFiltri" name="divSezioneFiltri" class="box" style="border-top-color: {{coloreUI}} !important;">
						<div class="box-header with-border" style="padding: 5px">
							<div class="col-md-12" style="margin: 0 0 0 0;padding: 5px">
									<p style="margin: 0 0 0 0;font-size: 15px"><i class="glyphicon glyphicon-search"></i> Filtri</p>
							</div>
						</div>
						<div class="box-body">
							<!-- definisco i singoli filtri -->
							<div class="">
								<!-- SERIAL_NUMBER -->
								<div class="form-group col-md-6">
									<label for="serialNumberEdit" style="color:{{colorMandatory}}">Serial Number</label>
									<div class="input-group input-group-sm">	
										<input 
											 ng-model="modelGuiPmAndAssTecnici.SERIAL_NUMBER"
											 typeahead-template-url="serialNumberTemplate.html"
											 uib-typeahead="objTrovato as objTrovato.SERIAL_NUMBER for objTrovato in getCercaMateriale($viewValue,'SERIAL_NUMBER','begins')"
											 type="text"
											 class="form-control input-sm"
											 id="serialNumberEdit"
											 name="serialNumberEdit"
											 placeholder="Digita Serial Number..."
											 ng-value=""
											 ng-model-options="{debounce: 500}"
											 typeahead-editable=false
											 typeahead-show-hint="true"
											 typeahead-append-to-body = "false"
											 ng-change="monitorFiltri('SERIAL_NUMBER')"
											 typeahead-on-select	= "materialeSelected($item, $model,'SERIAL_NUMBER')"
											 ng-disabled="disabledEditGuiPmAndAssTecnici.SERIAL_NUMBER || mostraLoaderGrid"
											 typeahead-no-results ="noResultsEditGuiPmAndAssTecnici.SERIAL_NUMBER"
											 typeahead-min-length ="3"
											 ng-style="(disabledEditGuiPmAndAssTecnici.SERIAL_NUMBER || mostraLoaderGrid) && {'background-color' : 'whitesmoke'}"
											 >
										<span class="input-group-addon">
											<i ng-class="{  'glyphicon glyphicon-refresh glyphicon-refresh-animate' : mostraLoaderAutocomplete,
															'fa fa-ban' : noMatResults || !modelGuiPmAndAssTecnici.SERIAL_NUMBER,
															'fa fa-check' : !noMatResults && modelGuiPmAndAssTecnici.SERIAL_NUMBER &&  !mostraLoaderAutocomplete
														}">
												
											</i> 
								
										</span>
									</div>
									<div ng-if="noResultsEditGuiPmAndAssTecnici.SERIAL_NUMBER" class="errorMsgAutocomplete">
										<span > <i class="fa fa-ban"></i> Nessun Valore trovato</span>
									</div> 
								</div>								
							</div>						
						</div>
						<!-- /.box-body -->
					</div> <!-- Sezione dei Filtri - Fine -->

					<!-- Sezione GRID -->
					<div class="box" style="border-top-color: {{coloreUI}} !important;">
						<div class="box-header with-border" style="padding: 5px">
							<div class="col-md-12" style="margin: 0 0 0 0;padding: 5px">
									<p style="margin: 0 0 0 0;font-size: 15px"><i ng-class="{  'glyphicon glyphicon-list-alt' : !mostraLoaderGrid,
                                                                                'glyphicon glyphicon-refresh glyphicon-refresh-animate' : mostraLoaderGrid
                                                                            }">
                                                                    
                                                                </i> Lista Attivit&agrave;</p>
							</div>
						</div>
						<xy-scroll-table></xy-scroll-table>
					</div>
				</div>	
			</div>
			
		</div><!-- /.col -->
	</div><!-- /.row -->
	
</section>
