<form name="fModalAzione"  class="non-printable" role="form" autocomplete="off" novalidate>
	<div class="modal-header non-printable" ng-class="$ctrl.chiamante.color" style="padding-top: 5px;padding-bottom: 5px;">
		
		<h4 class="modal-title" id="modal-title" style="float: left;padding-top: inherit;">Id Polarys: {{$ctrl.item.ID_ATTIVITA}} - Contesto: {{$ctrl.azioneAttivita.context}} - Azione Selezionata: 
		</h4>&nbsp;&nbsp;
		<div ng-if="$ctrl.item.arrAzPossibili.length > 0" class="btn-group btn-group-sm" style="float: left;padding-left: 5px;">
			
				<button type="button"
								ng-disabled="$ctrl.mostraLoaderUiModal || $ctrl.disableCbByActionSel"
								style="font-size: 15px;"
								class="btn btn-dropbox dropdown-toggle"
								data-toggle="dropdown"
								tooltip-placement="top-left"
								uib-tooltip="Seleziona L'Azione da Eseguire"
								tooltip-append-to-body="true"
								aria-expanded="false">{{$ctrl.azioneAttivita.label}}
					<span class="fa fa-caret-down"></span>
				</button>
				<ul class="dropdown-menu" style="background:cornsilk;width: auto;min-width: 300px;" dropdown-menu-append-to-body="true">
					
					<li ng-repeat="azioneAttivita in arrAzPossibiliFiltered = ($ctrl.item.arrAzPossibili | filter: $ctrl.colonnaOperativa) ">
						<div ng-if="arrAzPossibiliFiltered[0].value != azioneAttivita.value" class="divider"></div>
						<a href="javascript:void(0)" ng-click="$ctrl.azioneAttivita = azioneAttivita;$ctrl.getGridMassiva();">{{azioneAttivita.label}}&nbsp;({{azioneAttivita.nMat}})</a>
						
						
					</li>
					<!--<li class="divider"></li>-->
			
			
				</ul>
			
		</div>&nbsp;&nbsp;<label ng-If="$ctrl.azioneAttivita.tabella === 'TA_DICHIARAZIONE_USO_MATERIALE' && $ctrl.azioneAttivita.value === 'DICHIARAZIONE_USO_MATERIALE'" style="float: left;padding-left: 5px;padding-top: 7px;padding-right: 5px;font-size: 14px;"> - Caricamento da: </label>
		<!-- 03/09/2021 - Richiesta 79 - DUSO da FILE - custom pulsanti GUI/FILE -->
		<div class="btn-group btn-group-sm" style="float: left;padding-left: 5px;padding-top: 3px;" ng-If="$ctrl.azioneAttivita.tabella === 'TA_DICHIARAZIONE_USO_MATERIALE' && $ctrl.azioneAttivita.value === 'DICHIARAZIONE_USO_MATERIALE'">

			<label class="btn btn-success"
				   ng-class="{'btn-success': $ctrl.checkDicUsoDaFile==='GUI' ,'btn-danger': $ctrl.checkDicUsoDaFile==='FILE'}"
				   ng-model="$ctrl.checkDicUsoDaFile"
				   uib-btn-radio="'GUI'"
				   ng-click="$ctrl.clickDicUsoDaGuiFile()">
				<i ng-class="{'fa fa-check-square': $ctrl.checkDicUsoDaFile==='GUI' ,'fa fa-square': $ctrl.checkDicUsoDaFile==='FILE'}"></i>&nbsp;GUI&nbsp;<span class="fa fa-pencil-square-o"></span>
			</label>
			<label class="btn btn-danger"
				   ng-class="{'btn-success': $ctrl.checkDicUsoDaFile==='FILE' ,'btn-danger': $ctrl.checkDicUsoDaFile==='GUI'}"
				   ng-model="$ctrl.checkDicUsoDaFile"
				   uib-btn-radio="'FILE'"
				   ng-click="$ctrl.clickDicUsoDaGuiFile()">
				<i ng-class="{'fa fa-check-square': $ctrl.checkDicUsoDaFile==='FILE' ,'fa fa-square': $ctrl.checkDicUsoDaFile==='GUI'}"></i>&nbsp;FILE&nbsp;<span class="fa fa-upload"></span>
			</label>
		</div>
		
		
		
		
		
		
		
		
		
		
	</div>
	<div class="modal-body non-printable uscita-merci" ng-class="$ctrl.cssSmall"	
		auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="180" id="modal-body" style="padding-bottom: 5px;">
		
		<div class="row">
			<div class="col-md-12">
				<div class="box" style="border-top-color: {{$ctrl.chiamante.colorB}}">
					<div class="box-header with-border" style="padding-top: 5px;padding-bottom: 5px;">
						<h3 class="box-title" style="padding-top: 5px;padding-left: 10px;">
							<span>Riepilogo Materiali</span>
						</h3>



						<!-- gestione menu funzionale della grid -->
						<div class="dropdown" auto-close="outsideClick" ng-if="true" style="float:left">
							<button class="btn btn-dropbox btn-sm dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="$ctrl.disableCbByActionSel || $ctrl.mostraLoaderUiModal">
								<i class="fa fa-table" style="font-size: 14px;"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="width: 350px !important;background: lightyellow">
								
						
								<!--<li>
									
									<a tabindex="-1" href="javascript:void(0)">
										<button type="button"
											class="btn btn-default btn-sm"
											ng-model="$ctrl.selectAll"
											uib-btn-checkbox
											btn-checkbox-true="true"
											btn-checkbox-false="false"
											ng-click="$ctrl.checkedAll()"
											ng-disabled="$ctrl.disableCbByActionSel"
											>
											<i class="fa" style="padding-right: 5px" ng-class="{ 
												'fa-minus-square-o': $ctrl.activitiesSelected.length > 0 && $ctrl.activitiesSelected.length < $ctrl.listaAttivitaMassive.length,
												'fa-check-square-o': $ctrl.activitiesSelected.length === $ctrl.listaAttivitaMassive.length, 
												'fa-square-o': 			 $ctrl.activitiesSelected.length === 0
												}">
											</i>{{$ctrl.activitiesSelected.length}} - {{$ctrl.listaAttivitaMassive.length}}
										</button> &nbsp;Seleziona/Deseleziona Tutti
									</a>
						
								</li>
								
								<li class="divider"></li>-->
								
								<!-- gestione del mostra nascondi colonne -->
								<li class="dropdown-submenu">
									<a class="test" tabindex="-1" href="javascript:void(0)"><i class="fa fa-columns"></i>&nbsp;Mostra/Nascondi Colonne</a>
									<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 250px !important;background: lightyellow"> 
										<li role="menuitem">
											<a href="javascript:void(0)">
												<button  type="button"
													class="btn btn-default btn-sm"
													ng-click="$ctrl.selectAllColonneGrid('TUTTI');"
													>Tutti
												</button>
												<button  type="button"
													class="btn btn-default btn-sm"
													ng-click="$ctrl.selectAllColonneGrid('RESET');"
													>Reset
												</button>
											</a>
											<div class="divider"></div>
										</li>
										</li>
										<li  role="menuitem" ng-repeat="(key,value) in  $ctrl.config" ng-if="value.mostraNascondi && !value.icon">
											<div class="divider"></div>
											<a href="javascript:void(0)" ng-click="value.visibleCol = !value.visibleCol">
												<span class="text-muted"><input type="checkbox" ng-model="value.visibleCol" ng-click="value.visibleCol = !value.visibleCol"> {{value.label}} </span>
											</a>
										</li>
									</ul>
								</li> <!-- gestione del mostra nascondi colonne - fine -->
								
								<li class="divider"></li>
								
								<li>
									<a tabindex="-1" href="javascript:void(0)" ng-click="$ctrl.getGridMassiva();">
										<i class="fa fa-refresh"></i>&nbsp;Ricarica
									</a>
								</li>
								
								<li class="divider"></li>
								<li>
									
									<a tabindex="-1" href="javascript:void(0)" ng-click="$ctrl.clearFiltersAndOrdering();">
										<i class="glyphicon glyphicon-erase"></i>&nbsp;Cancella Filtri e Ricarica
									</a>
								
								</li>
								
								<li class="divider"></li>
								<li>
									
									<a tabindex="-1" href="javascript:void(0)" ng-click="$ctrl.exportToExcel();">
										<i class="fa fa-file-excel-o"></i>&nbsp;Esporta in Excel
									</a>
						
								</li>								
						
								
						
							</ul>
						</div> <!-- gestione menu funzionale della grid - fine -->



						<div class="box-tools pull-right" ng-if="$ctrl.mostraLoaderUiModal"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <translate>Loading...</translate> </div>
						<div ng-if="!$ctrl.mostraLoaderUiModal" class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="$ctrl.collapseSummary = ! $ctrl.collapseSummary">
								<i class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !$ctrl.collapseSummary ,'fa-chevron-right': $ctrl.collapseSummary}"></i>
							</button>
						</div>
						
					</div>
					<div class="box-body table-responsive" style="max-height: 450px !important;overflow-y: hidden;padding-bottom: 0px;" uib-collapse="$ctrl.collapseSummary">
						
						<!-- 03/09/2021 - Richiesta 79 - DUSO da FILE - upload FILE - Inizo -->
						<div class="row" ng-If="$ctrl.checkDicUsoDaFile==='FILE' && $ctrl.azioneAttivita.tabella === 'TA_DICHIARAZIONE_USO_MATERIALE' && $ctrl.azioneAttivita.value === 'DICHIARAZIONE_USO_MATERIALE'">


							<div class="col-md-12">
								
								<div class="form-group">
								<label style="float: left;">Download File</label>
								<label style="float: right;">Upload File</label>
								<div style="float: left;padding-bottom: 10px;" class="input-group input-group-sm">
											<span class="input-group-btn">
								
												<button type="button"
																class="btn btn-primary"                                                                                
																ng-click="$ctrl.exportTemplateExcel();"
																tooltip-placement="bottom-left"
																uib-tooltip="Scaricare il file template precompilato"
																ng-disabled="$ctrl.fileExcel.data  || $ctrl.msgErrorImport"
																>
													<i class="fa fa-download"></i>
												</button>
								
								
											</span>
									<input type="text" class="form-control" ng-value="$ctrl.fileExcel.nomeFile" ng-disabled="true" ng-model="$ctrl.fileExcel.nomeFile">
											<span class="input-group-btn">
												<span class="btn btn-file btn-primary"                                                                     
																tooltip-placement="bottom-right"
																uib-tooltip="Importare il file modificato e cliccare il pulsante Conferma"
																ng-disabled="$ctrl.fileExcel.data || $ctrl.msgErrorImport"
															>
														<i class="glyphicon glyphicon-folder-open"></i>
														<input ng-disabled="$ctrl.fileExcel.data || $ctrl.msgErrorImport" id="fileExcelDicUsoUpload" name="fileExcelDicUsoUpload" type="file" accept=".xls,.xlsx,.ods" fileread="" opts="$ctrl.fileExcel" multiple="false" />
												</span>
												<button uib-tooltip="Conferma: il file caricato verr&agrave; processato"
														tooltip-placement="top-right"
														tooltip-append-to-body="true"
														ng-disabled="!$ctrl.fileExcel.data || $ctrl.mostraLoaderUiModal || $ctrl.msgErrorImport"
														type="button"
														class="btn btn-sm btn-success btn-flat"
														ng-click="$ctrl.clickCaricaExcel()"><i  class="fa fa-check"
																							ng-class="{ 'glyphicon glyphicon-refresh glyphicon-refresh-animate' : $ctrl.mostraLoaderUiModal,
																										'fa-check' : !$ctrl.mostraLoaderUiModal,
																										}"></i>
												</button>
												<button uib-tooltip="Annulla: verranno anullate le precedenti azioni"
														tooltip-placement="top-right"
														tooltip-append-to-body="true"
														ng-disabled="$ctrl.mostraLoaderUiModal"
														type="button"
														class="btn btn-sm btn-danger btn-flat"
														ng-click="$ctrl.clickDicUsoDaGuiFile()"><i   class="fa fa-close"
																									ng-class="{ 'glyphicon glyphicon-refresh glyphicon-refresh-animate' : $ctrl.mostraLoaderUiModal,
																										'fa-close' : !$ctrl.mostraLoaderUiModal,
																										}"></i>
												</button>
								
											</span>
								</div>
								
								<div ng-if="$ctrl.msgErrorImport" style="padding-top: 5px;padding-bottom: 5px">
							
							
									<span style="color: red;font-size: 12px" ng-style="$ctrl.aErrorImportExcel && { 'color': 'red'} || !$ctrl.aErrorImportExcel && { 'color': 'green'}"> {{$ctrl.msgErrorImport}}</span>
							
									<button ng-if="$ctrl.aErrorImportExcel && $ctrl.aErrorImportExcel.length > 0"
											uib-tooltip="Esporta Errori"
											tooltip-placement="top-right"
											tooltip-append-to-body="true"
											ng-disabled="$ctrl.mostraLoaderUiModal"
											type="button"
											class="btn btn-xs btn-primary"
											ng-click="$ctrl.exportEsitoImportExcel()"><i class="fa fa-file-excel-o"></i>
									</button>
									</br>
									</br>
									<span ng-if="$ctrl.listaAttivitaMassive.length > 0" style="color: green;font-size: 14px">Eseguire la Dic. Uso desiderata per i seguenti materiali caricati con esito positivo: </span>
									
									
									
								</div>
							
								
								<!-- <div style="height: 200px;overflow-y: auto;" ng-if="$ctrl.aErrorImportExcel"><pre>{{$ctrl.aErrorImportExcel | json}}</pre></div>-->   
							
								</div>
								<!-- /.form-group -->                                                    
								
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div>    
	
						</div> <!-- 03/09/2021 - Richiesta 79 - DUSO da FILE - custom pulsanti GUI/FILE - Fine -->
						
						<table class="table table-bordered table-hover table-condensed tableFixedHeaderModal">
							<thead id="tHeadGridModaleSped">
								<!-- nomi delle colonne -->
								<tr>
									<th ng-repeat="(key,value) in $ctrl.config" ng-style="{{value.classe}}" ng-if="value.visibleInSummary && value.visibleCol" class="{{$ctrl.chiamante.color}}">
										<span ng-if="!value.icon">{{$ctrl.config[key].label}}</span>
										<span ng-if="value.icon"><i class="{{value.icon}}"></i></span>
									</th>
								</tr>
								<!-- filtri colonna -->
								<tr>
									<th ng-repeat="(key,value) in $ctrl.config" style="text-align: center" ng-if="value.visibleInSummary && value.visibleCol">
										<input ng-if="!value.icon" type="text" class="form-control input-sm" placeholder="Cerca..." ng-model="$ctrl.options.global[key]">
										<div ng-if="value.icon">
											
											<button  type="button"
												class="btn btn-dropbox btn-sm"
												ng-model="$ctrl.selectAll"
												uib-btn-checkbox
												tooltip-placement="top-left" uib-tooltip="{{$ctrl.activitiesSelected.length}} - {{$ctrl.listaAttivitaMassive.length}}"			 
												btn-checkbox-true="true"
												btn-checkbox-false="false"
												ng-click="$ctrl.checkedAll()"
												ng-disabled="$ctrl.disableCbByActionSel || $ctrl.mostraLoaderUiModal || ($ctrl.checkDicUsoDaFile==='FILE')"
												>
												<i class="fa" style="" ng-class="{ 
													'fa-minus-square-o': $ctrl.activitiesSelected.length > 0 && $ctrl.activitiesSelected.length < $ctrl.listaAttivitaMassive.length,
													'fa-check-square-o': $ctrl.activitiesSelected.length === $ctrl.listaAttivitaMassive.length, 
													'fa-square-o': 			 $ctrl.activitiesSelected.length === 0
													}">
												</i>
										</button>
											
											<!--<button value.icon ng-click="$ctrl.exportToExcel();"
															type="button"
															class="btn btn-sm btn-success"
															tooltip-placement="bottom-left" uib-tooltip="Scarica Lista delle attivit&agrave; in formato Excel"
															>
													<i class="fa fa-file-excel-o"></i>
											</button>-->
											
											
											<!-- gestione menu funzionale della grid -->
											<div class="dropdown" auto-close="outsideClick" ng-if="false">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
													<i class="fa fa-table"></i>&nbsp;Tools
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" style="width: 350px !important;background: lightyellow">
													

													<li>
														
														<a tabindex="-1" href="javascript:void(0)">
															<button type="button"
																class="btn btn-default btn-sm"
																ng-model="$ctrl.selectAll"
																uib-btn-checkbox
																btn-checkbox-true="true"
																btn-checkbox-false="false"
																ng-click="$ctrl.checkedAll()"
																ng-disabled="$ctrl.disableCbByActionSel"
																>
																<i class="fa" style="padding-right: 5px" ng-class="{ 
																	'fa-minus-square-o': $ctrl.activitiesSelected.length > 0 && $ctrl.activitiesSelected.length < $ctrl.listaAttivitaMassive.length,
																	'fa-check-square-o': $ctrl.activitiesSelected.length === $ctrl.listaAttivitaMassive.length, 
																	'fa-square-o': 			 $ctrl.activitiesSelected.length === 0
																	}">
																</i>{{$ctrl.activitiesSelected.length}} - {{$ctrl.listaAttivitaMassive.length}}
															</button> &nbsp;Seleziona/Deseleziona Tutti
														</a>
					
													</li>
													
													<li class="divider"></li>
													
													<!-- gestione del mostra nascondi colonne -->
													<li class="dropdown-submenu">
														<a class="test" tabindex="-1" href="javascript:void(0)"><i class="fa fa-columns"></i>&nbsp;Mostra/Nascondi Colonne</a>
														<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 250px !important;background: lightyellow"> 
															<li role="menuitem">
																<a href="javascript:void(0)">
																	<button  type="button"
																		class="btn btn-default btn-sm"
																		ng-click="$ctrl.selectAllColonneGrid('TUTTI');"
																		>Tutti
																	</button>
																	<button  type="button"
																		class="btn btn-default btn-sm"
																		ng-click="$ctrl.selectAllColonneGrid('RESET');"
																		>Reset
																	</button>
																</a>
																<div class="divider"></div>
															</li>
															</li>
															<li  role="menuitem" ng-repeat="(key,value) in  $ctrl.config" ng-if="value.mostraNascondi && !value.icon">
																<div class="divider"></div>
																<a href="javascript:void(0)" ng-click="value.visibleCol = !value.visibleCol">
																	<span class="text-muted"><input type="checkbox" ng-model="value.visibleCol" ng-click="value.visibleCol = !value.visibleCol"> {{value.label}} </span>
																</a>
															</li>
														</ul>
													</li> <!-- gestione del mostra nascondi colonne - fine -->
													
													<li class="divider"></li>
													<li>
														
														<a tabindex="-1" href="javascript:void(0)" ng-click="$ctrl.exportToExcel();">
															<i class="fa fa-file-excel-o"></i>&nbsp;Esporta in Excel
														</a>
					
													</li>								
					
													
					
												</ul>
											</div> <!-- gestione menu funzionale della grid - fine -->
											
											
										
										</div>
										
									</th>
								</tr>
							</thead>
							<tbody id="tBodyGridModaleSped">
								<tr ng-repeat="itemAttivitaMassiva in $ctrl.listaActMassiveFiltered =
																(  $ctrl.listaAttivitaMassive | filter: $ctrl.options.global || undefined 
																) | limitTo:$ctrl.itemsPerPage:$ctrl.itemsPerPage*($ctrl.currentPage-1) as resultsFiltered" 
									ng-if="!itemAttivitaMassiva.HIDDENROW"
									ng-class="{	'warning' : itemAttivitaMassiva.SELECTED && !$ctrl.hasSuccessEscAct[itemAttivitaMassiva.ID_ATTIVITA],
											'success' : itemAttivitaMassiva.SELECTED && $ctrl.hasSuccessEscAct[itemAttivitaMassiva.ID_ATTIVITA],
											'danger' : itemAttivitaMassiva.SELECTED && $ctrl.hasErrorEscAct[itemAttivitaMassiva.ID_ATTIVITA]}">
									<td style="text-align: center" ng-style="{{$ctrl.config.SELECTED.classe}}">
										<div class="btn-group btn-group-xs">
											<button ng-click="$ctrl.addActivitiesSelected()"
															type="button" class="btn btn-dropbox"
															ng-model="itemAttivitaMassiva.SELECTED"
															uib-btn-checkbox btn-checkbox-true="true"
															btn-checkbox-false="false"
															ng-disabled="$ctrl.disableCbByActionSel || $ctrl.mostraLoaderUiModal || ($ctrl.checkDicUsoDaFile==='FILE')"
															>
													<i class="fa" ng-class="!itemAttivitaMassiva.SELECTED ? 'fa-square-o' : 'fa-check-square-o'"></i>
											</button>
											
										</div>
										<div style="float: left;position: relative;top: 3px;right: 2px;"
												 uib-tooltip="{{$ctrl.hasErrorEscAct[itemAttivitaMassiva.ID_ATTIVITA]}}"
												 tooltip-placement="top-left"
												 tooltip-append-to-body="true" 
												 ng-if="$ctrl.showInfoErrorGrid && $ctrl.hasErrorAct[itemAttivitaMassiva.ID_ATTIVITA]"
												 ng-class="$ctrl.hasErrorAct[itemAttivitaMassiva.ID_ATTIVITA]">
											<span class="glyphicon" ng-class="$ctrl.hasErrorIcon[itemAttivitaMassiva.ID_ATTIVITA]"></span>
										</div>
										<div ng-if="itemAttivitaMassiva.ID_SIRTI_PRENOTATO_IN_ELABORAZIONE && itemAttivitaMassiva.ID_SIRTI_PRENOTATO_SCAMBIATO == itemAttivitaMassiva.ID_SIRTI">
										<i 
											class="fa fa-warning"
											style="color: {{$ctrl.chiamante.colorB}};font-size: 18px;"
											tooltip-placement="top-left"
											tooltip-append-to-body="true"
											uib-tooltip="Materiale ri-assegnato all'attivit&agrave; : {{itemAttivitaMassiva['ID_ATTIVITA_SCAMBIATO'] }}. Entro pochi istanti la presente spedizione sar&agrave; nuovamente gestibile"
											 ></i>
										</div>
									</td>
									<td style="font-weight: normal !important;word-break: break-all !important;" ng-style="{{value.classe}}" ng-repeat="(key,value) in $ctrl.config" ng-if="key !== 'SELECTED' && $ctrl.config[key].visibleInSummary && value.visibleCol">
										<button ng-if="key === 'ID_ATTIVITA' || key === 'ID_ATTIVITA_MASTER'"
														tooltip-append-to-body="true"
														style="float: left;"
														uib-tooltip="Vedi Attivita"
														type="button"
														ng-disabled="$ctrl.mostraLoaderUiModal"
														class="btn bg-blue color-palette btn-xs"
														ng-click="$ctrl.viewActivity(itemAttivitaMassiva,key)">
											<i class="fa fa-external-link"></i>
										</button>
										
										<span ng-if="true">{{itemAttivitaMassiva[key]}}</span>
										<i ng-if="!itemAttivitaMassiva.IS_MASTER_SELECTED && key === 'ID_ATTIVITA_MASTER' && $ctrl.azioneAttivita.value=== 'PRELEVATO'"
											class="fa fa-exclamation-circle"
											style="color: {{$ctrl.chiamante.colorB}};float: none;font-size: 18px;padding-left: 5px;"
											tooltip-placement="top-left"
											tooltip-append-to-body="true"
											uib-tooltip="Materiale Assegnato alla stessa Squadra. Si consiglia il Prelievo"
											 ></i>
										<i ng-if="!itemAttivitaMassiva.IS_MASTER_SELECTED && key === 'ID_ATTIVITA_MASTER' && $ctrl.azioneAttivita.value=== 'MATERIALE_RICEVUTO'"
											class="fa fa-exclamation-circle"
											style="color: {{$ctrl.chiamante.colorB}};float: none;font-size: 18px;padding-left: 5px;"
											tooltip-placement="top-left"
											tooltip-append-to-body="true"
											uib-tooltip="Materiale In Consegna dalla stessa Squadra o dal Corriere. Si consiglia il Materiale Ricevuto"
											 ></i>
									</td>
								</tr>
							</tbody>		
						</table>
						<div ng-if="false" class="btn-group" style="padding-top: 10px;padding-bottom:  10px;">
							<button type="button"
											class="btn btn-default btn-sm"
											ng-model="$ctrl.selectAll"
											uib-btn-checkbox
											btn-checkbox-true="true"
											btn-checkbox-false="false"
											ng-click="$ctrl.checkedAll()"
											ng-disabled="$ctrl.disableCbByActionSel"
											>
										<i class="fa" style="padding-right: 5px" ng-class="{ 
											'fa-minus-square-o': $ctrl.activitiesSelected.length > 0 && $ctrl.activitiesSelected.length < $ctrl.listaAttivitaMassive.length,
											'fa-check-square-o': $ctrl.activitiesSelected.length === $ctrl.listaAttivitaMassive.length, 
											'fa-square-o': 			 $ctrl.activitiesSelected.length === 0
											}">
										</i>{{$ctrl.activitiesSelected.length}} - {{$ctrl.listaAttivitaMassive.length}} 
							</button>
						</div>
	
					</div>
					<!-- /.box-body -->
					
					
					<div class="box-footer with-border" uib-collapse="$ctrl.collapseSummary" style="padding-bottom: 5px;padding-top: 5px;">

						<div class="row" style="width: 100%;">
							<div ng-if="false" class="btn-group col-md-1 col-xs-1 col-lg-1" style="padding-bottom: 10px;">
								<button type="button"
									class="btn btn-default btn-sm"
									ng-model="$ctrl.selectAll"
									uib-btn-checkbox
									btn-checkbox-true="true"
									btn-checkbox-false="false"
									ng-click="$ctrl.checkedAll()"
									ng-disabled="$ctrl.disableCbByActionSel"
									>
									<i class="fa" style="padding-right: 5px" ng-class="{ 
										'fa-minus-square-o': $ctrl.activitiesSelected.length > 0 && $ctrl.activitiesSelected.length < $ctrl.listaAttivitaMassive.length,
										'fa-check-square-o': $ctrl.activitiesSelected.length === $ctrl.listaAttivitaMassive.length, 
										'fa-square-o': 			 $ctrl.activitiesSelected.length === 0
										}">
									</i>{{$ctrl.activitiesSelected.length}} - {{$ctrl.listaAttivitaMassive.length}}
								</button>
							</div>
							
							
								<div class="col-md-4 col-xs-4 col-lg-4" style="padding-top: 7px;text-align: center;">
									<span class="text-muted">Visualizzati
										{{(($ctrl.currentPage*$ctrl.itemsPerPage)-$ctrl.itemsPerPage)+1}}
										-
										{{(($ctrl.currentPage*$ctrl.itemsPerPage)-$ctrl.itemsPerPage)+resultsFiltered.length}}
										di
										{{$ctrl.listaAttivitaMassive.length}}
										record
									</span>
								</div>
								<div class="col-md-3 col-xs-3 col-lg-3">
										<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
											<span class="text-muted" translate>Mostra: </span>
										</div>
										<div class="col-md-6 col-xs-6 col-lg-6">
											<select ng-model="$ctrl.itemsPerPage" class="form-control input-sm" ng-options="values for values in $ctrl.pager">
												<option>{{values}}</option>
											</select>
										</div>
										<div class="col-md-3 col-xs-3 col-lg-3" style="padding-top: 5px;">
											<span class="text-muted"  translate>record</span>
										</div>
								</div>
								<div class="col-md-5 col-xs-5 col-lg-5" style="text-align: right;padding-right: 0px;">
	
									<uib-pagination class="pull-right pagination-sm no-margin"
										total-items="$ctrl.listaAttivitaMassive.length"
										rotate = "true"
										max-size ="$ctrl.maxSizePager"
										boundary-links = "true"
										first-text = "Prima"
										last-text  = "Ultima"
										force-ellipses = "true"
										next-text = ">"
										previous-text = "<"
										boundary-link-numbers = "false"
										ng-model="$ctrl.currentPage"
										ng-change="$ctrl.pageChanged()"
										items-per-page="$ctrl.itemsPerPage">
									</uib-pagination>							
								
								
								
								</div>							
							
							
							
							
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	
	
		

	<div class="modal-footer non-printable" style="padding:5px;">
		<div class="box" style="padding:0px;margin:0px;border-top-color: {{$ctrl.chiamante.colorB}}">
			<div class="box-body" style="min-height: auto !important">
				<div class="row">
					<div class="col-sm-8" ng-if="!$ctrl.disableCbByActionSel">
						<button ng-if="!$ctrl.nascondiConferma"
										ng-disabled="$ctrl.disabledConferma	|| $ctrl.mostraLoaderUiModal"
										class="btn btn-dropbox btn-md pull-left"
										type="button" ng-click="$ctrl.eseguiAzioneSelezionata($ctrl.azioneAttivita,{})">
							<span class="fa fa-check"></span>&nbsp;Conferma
						</button>
					
						
						<button ng-if="$ctrl.azioneAttivita.tabella === 'TA_DICHIARAZIONE_USO_MATERIALE'"
										ng-repeat="buttonCfg in $ctrl.buttonDicUsoCfg"
										ng-disabled="buttonCfg.disabled	|| $ctrl.mostraLoaderUiModal"
										class="btn {{buttonCfg.css}} btn-md pull-left"
										type="button" ng-click="$ctrl.eseguiAzioneSelezionata($ctrl.azioneAttivita,{ DICHIARAZIONE_USO : buttonCfg.value})">
							<span class="{{buttonCfg.icon}}">
							</span>&nbsp;{{buttonCfg.label}}
						</button>
					</div>
					<div class="col-sm-8" ng-if="$ctrl.disableCbByActionSel && !$ctrl.showInfoErrorGrid">
						<span ng-if="$ctrl.actionSelected.actionObj.value == 'DICHIARAZIONE_USO_MATERIALE'"
									style="float: left;font-size: 16px;padding-right: 5px;padding-top: 7px;">Sicuro di voler dichiarare <strong>'{{$ctrl.actionSelected.objInputValue.DICHIARAZIONE_USO}}'</strong> i materiali selezionati ?
						</span>
						<span ng-if="$ctrl.actionSelected.actionObj.value !== 'DICHIARAZIONE_USO_MATERIALE'"
									style="float: left;font-size: 16px;padding-right: 5px;padding-top: 7px;">Sicuro di voler eseguire l'azione <strong>'{{$ctrl.actionSelected.actionObj.label}}'</strong> sui materiali selezionati ?
						</span>
						<button ng-repeat="buttonCfg in $ctrl.buttonSceltaConfermaCfg"
										ng-disabled="buttonCfg.disabled	|| $ctrl.mostraLoaderUiModal"
										class="btn {{buttonCfg.css}} btn-md pull-left"
										type="button" ng-click="$ctrl.confermaAzioneSelezionata(buttonCfg.name)">
							<span class="{{buttonCfg.icon}}">
							</span>&nbsp;{{buttonCfg.label}}
						</button>
					</div>	
					<!-- PULSANTIERA CONFIRM -->
					<div class="col-sm-4 pull-right">
						<button ng-disabled="$ctrl.mostraLoaderUiModal" class="btn btn-default btn-md"  type="button" ng-click="$ctrl.cancel()"><span class="fa fa-remove"></span>&nbsp;Chiudi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'views/alerts.html'" class="non-printable"></div>
</form>



	








